<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoharnu.newontv.android"
    android:versionCode="1"
    android:versionName="0.1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:name="com.yoharnu.newontv.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.yoharnu.newontv.NewOnTV"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yoharnu.newontv.shows.EditShowsList"
            android:label="@string/title_activity_edit_shows_list" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoharnu.newontv.NewOnTV" />
        </activity>
        <activity
            android:name="com.yoharnu.newontv.shows.ChooseSeries"
            android:label="@string/title_activity_choose_series" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoharnu.newontv.shows.EditShowsList" />
        </activity>
        <activity
            android:name="com.yoharnu.newontv.shows.DeleteShow"
            android:label="@string/title_activity_delete_show" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoharnu.newontv.shows.EditShowsList" />
        </activity>
        <activity
            android:name="com.yoharnu.newontv.Settings"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoharnu.newontv.NewOnTV" />
        </activity>

        <service android:name="com.yoharnu.newontv.services.UpdaterService" />

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-dik24sgjbrpvnqm" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yoharnu.newontv.shows.SeriesDisplay"
            android:label="@string/title_activity_series_display" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoharnu.newontv.shows.EditShowsList" />
        </activity>
        <activity
            android:name="com.yoharnu.newontv.shows.EpisodeDisplay"
            android:label="@string/title_activity_episode_display" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yoharnu.newontv.NewOnTV" />
        </activity>
    </application>

</manifest>